<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<span class="logo_header" disabled="disabled"> <i class="icon-map"></i> <span>Mercadillo Montañero</span> </span>
		</div>
		<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
			<ul class="nav navbar-nav">
				<li>
					<a href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categorias <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">Ropa</a>
						</li>
						<li>
							<a href="#">Calzado</a>
						</li>
						<li>
							<a href="#">Material</a>
						</li>
						<li>
							<a href="#">Accesorios</a>
						</li>
						<li>
							<a href="#">Tiendas</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">Novedades</a>
				</li>
				<li>
					<a href="#">Contacto</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<header>
	<p class="darker" alt="bgvid"></p>
	<video autoplay loop poster="../img/background/intro1.jpg" id="bgvid">
		<source src="../video/intro2.mp4" type="video/mp4"></source>
	</video>
	<div id="intro_body">
		<div class="container-fluid">
			<div class="row animated bounceInLeft">
				<div class="col-md-8 col-md-offset-2">
					<h1>Categorias</h1>
				</div>
			</div>
			<div class="row animated bounceInRight">
				<div class="col-xs-6 col-sm-4">
					<a type="button" class="btn btn-success btn-lg hvr-sweep-to-right" href="listado.html"> <i class="icon-angle-circled-right"></i> Ropa </a>
				</div>
				<div class="col-xs-6 col-sm-4">
					<a type="button" class="btn btn-success btn-lg hvr-sweep-to-right" href="listado1.php"> <i class="icon-angle-circled-right"></i> Calzado </a>
				</div>
				<div class="col-xs-6 col-sm-4">
					<a type="button" class="btn btn-success btn-lg hvr-sweep-to-right"> <i class="icon-angle-circled-right"></i> Material </a>
				</div>
			</div>
			<div class="row animated bounceInRight">
				<div class="col-xs-6 col-sm-4">
					<a type="button" class="btn btn-success btn-lg hvr-sweep-to-right"> <i class="icon-angle-circled-right"></i> Accesorios </a>
				</div>
				<div class="col-xs-6 col-sm-4">
					<a type="button" class="btn btn-success btn-lg hvr-sweep-to-right"> <i class="icon-angle-circled-right"></i> Tiendas </a>
				</div>
				<div class="col-xs-6 col-sm-4">
					<a type="button" class="btn btn-success btn-lg hvr-sweep-to-right"> <i class="icon-angle-circled-right"></i> Novedades </a>
				</div>
			</div>
		</div>
	</div>
</header>

